<div class="py-4">

    <div class="col-span-1 flex items-center justify-between">

        <div class="flex items-center">
            <button class="menu-icon" (click)="toggleMenu()">
                <i class="fas fa-bars"></i>
            </button>
            <div class="overlay-menu" *ngIf="isMenuOpen">
                <app-menu />
            </div>
        </div>

        <div (click)="redirectToHome()">
            <a routerLink="/home" class="flex items-center">
                <h1 class="text-4xl font-bold text-center">
                    Header
                </h1>
            </a>
        </div>

        <!-- <app-search></app-search> -->

        <div class="signup-button" (click)="redirectToSignup()">
            <a routerLink="/signup" class="flex items-center">
                Signup
            </a>
        </div>
    </div>

</div>